

.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
    background-color: bisque
}

.grid div{
  height: 20px;
  width: 20px;

}

.start {
    background-color: white
}

.score {
  background-color: white;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: red;
}

.toDo {
  background-color: lightyellow;
}



@media screen and (max-width: 1400px){

  .banner .welcome{
    font-size: 40px;
  }

}

@media screen and (max-width: 960px){

  .banner .welcome{
    font-size: 28px;
  }
  nav li{
    font-size: 18px;
  }

}

@media screen and (max-width: 700px){

  .banner .welcome{
    font-size: 20px;
    position: relative;
    text-align: center;
  }
  .banner .welcome br{
    display: none;
  }
  .banner .welcome span{
    font-size: 1em;
  }
  nav li{
    font-size: 18px;
  }
  .images li{
    width: 100%;
    display: block;
    margin: 20px auto;
  }

}

@media screen and (max-width: 560px){

  .banner .welcome{
    font-size: 20px;
    position: relative;
    text-align: center;
  }
  .banner .welcome br{
    display: none;
  }
  .banner .welcome span{
    font-size: 1em;
  }
  nav li{
    display: block;
    width: 100%;
    margin: 12px 0;
  }
  article h2{
    font-size: 36px;
  }
  header, nav{
    position: relative;
    top: 0;
  }

  .title {
  background-color:black;
  width: 450px;
  color: white;
  outline: 1px dotted black;
  }
  
  .reset-btn{
    color: white;
  }
  
  .score {
  background-color: black;
  color: white;
  width: 200px;
  outline: 1px dotted black;
  margin-left: 500px;
  }
  
  .container {
    display: flex;
    border-top: 20px;
  }
  
  .grid {
    margin-left:500px;
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-image: url('background4.jpg');
    outline: 1px dotted black;
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .tetromino {
    background-color: blue;
    outline: 1px dotted white;
  
  }
  
  .instructions  {
    margin-left: 050px;
    margin-top: -360px;
    padding : 40 px;
    width: 200px;
    height: 296px;
    color : white;
    outline: 1px dotted black;
    background-color: black;
  
    text-size: 48 px;
  }
  
  .UI2{
    margin-left: 300px;
    opacity: 5%;
    margin-top: -300px;
    width: 500px;
    height: 300px;
  }
  
  .UI3 {
    margin-left: 800px;
    margin-top: -300px;
    width: 300px;
    height: 300px;
    outline: 1px dotted black;
    background-color: black;
    color: white;
  }
  
  
  