
.page {
  background-color: antiquewhite
  text-shadow: 1px 2px lightgrey;
}
body {
  background-color: lightblue;
}
li{
   list-style-type: squares;
   text-shadow: 1px 2px lightgrey;
 }
.skills {
  background : white;
  font-size: 40;
  padding : 5px;
  border-radius: 5px;
    border-radius: 25px;
}

#content {
  color: red;
}

h3 {
font-style: oblique;
   background : lightcyan;
}

h1 {
    color: red;
    background-color: lightblue;
    padding 10px;
  }

p1 {
    color: grey;
  }

 bttm {
    border-bottom: 4px solid crimson
    border-left: 10px dotted crimson
 }

 a[href] {
   background : lightcyan;
   font-size: 24;
   padding : 5px;
   line-height: 50px;
   border-radius: 5px;
     border-radius: 25px;
 }

td {
  border-radius: 120px;
  text-align : center;
    background: #73AD21;
    margin: 150px;
    padding: 25px;
    width: 180px;
    height: 40px;
      font-size : 30 px;
  background-color: #0088dd;
  border: 5 px solid #000000;}

  table.one {
    border-spacing: 5px 15px;}
  table.two {
    border-collapse: collapse;
    background-color: #3388dd}
  }
