.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div{
  height: 20px;
  width: 20px;
}

.start {
    background-color: white
}

.score {
  background-color: white;
  height: 50 px;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: red;
}

.background {
  background-color : grey;

}
