body {
 background-color: white;
}
.banner {
    background-color:white;
    border: 3px solid black;
    color: red;
    padding: 3px;
}
.editor {
    background-color: lightgrey;
    border: 1px solid black;
    color: red;
display: inline-block
   height: 95%;
    
  
}
nav {
    display: inline-block;
    border: 1px solid black;
    background-color: yellow;
}


 .editor #css-code{
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
}
 .editor #js-code{
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
}
.editor #html-code {
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
 
}
#output{
    background-color: white;
    border: 5px solid black;
 
    height: 100%;
    width: 100%;
    padding: 2%;
}

.iframe {
 border: 2px solid black;
 height: 500px;
}
.textarea {

    height: 500px;
}

