

#jeffname {
    color: black;
    float: right;
}

#btn2{
    color: blue;
}

.dropper{
    width: 100%;
    color: black;
    background-color: white;
}
.dropper:hover{
    width: 100%;
    color:white;
    background-color:rgb(92, 92, 92);
}


body {
 background-color: white;
 border: 5px solid black;

}
head {
    background-image: linear-gradient(to right, black, white);
}
.dropdown {
    position: relative;
    display: inline-block;
    background-color: lightgray;
   
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    width: 100%;gt

  }
  .dropdown:hover .dropdown-content p:hover {
    display: block;
    color: black;
    background-color: lightgray;
    padding: 5px;
    width: 100%;
    border-radius: 2.5px;
  }

.banner {
    background-color:black;
    border: 3px solid grey;
    color: white;
    padding: 3px;
    background-image: linear-gradient(to right, black, white);
}
.editor {
    background-color: rgb(158, 157, 157);

    color: red;
    font-size: 15px;
    width: 96%;
    padding: 2%;
    

}

#filename{
    float: right;
    color: black;
    margin-top: 15px;
}
.fileIcon{
color:black;
padding: 10px, 10px, 10px, 10px; 
margin: 0px;
margin: 10px;
}

body{
    min-width: 320px;
}
.menubar{
    color: black;
   
    border-radius: 2.5px;
    padding: 8.5px
    background-color: lightgrey;
    font-size: 18px;
    margin: 5px;
    height: 100%;
   
    

}

.menubar:hover{
    color: black;
   
    padding: 1.5px;
    background-color: grey

}
.fileIcon:hover{
    color: black;
    padding: 10px, 0px, 10px, 0px; 
    margin: 20px;
    font-style: bold;
  
    
    
    }
#myname
{
    float: right;
    text-align: right;
}
.tut {
    text-align: center;
    margin-left: 45%;

}
#myname {
    float: bottom;
    color: white;
    margin-top: 14px;
}

.point2{
   margin-left: 5px; 
   border: 2px solid black;
   float: right;
   background-color:rgb(196, 196, 196);


}
.point2:hover{
    color: white;
    background-color:grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.point{
    color: black;
    background-color: white;
    float: right;

}
.point:hover{
    color: white;
    background-color:grey;
    float: right;
}
.notify {
    background-color:black;
    border: 2px solid grey;
    color: white;
    padding: 2px;
    
}
nav {
    display: inline-block;

    background-color:lightgrey;
    color: black;
    width: 100%;
margin-top: 0


}


 .editor #css{
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
}
 .editor #js{
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
}
.editor #html {
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
 
}
#output{
    background-color: white;
    border: 1px solid black;
   
    height: 1000px;
    width: 96%;
    padding: 2%;
}

.iframe {
 border: 2px solid black;
 height: 500px;
 width: 90%;
}


#btnSave{
    width: 100%;
    border: 1px solid black;
    background-color: white;
    color: black;
}
#jeffname{
    color: black;
    margin-top: 15px;
}

