.skills {
    background-color: blanchedalmond;
}
body {

}

#content {
  color: red;
}

h1 {
    color: red;
    background-color: lightblue;
    padding 10px;
  }

p1 {
    color: grey;
  }

.one

ul{

 }

 bttm {
    border-bottom: 4px solid crimson
    border-left: 10px dotted crimson
 }

 li{
    list-style-type: squares;
    text-shadow: 1px .5px lightgrey;
 }

 a[href] {
   background : white;
   font-size: 24;
   padding : 5px;
   border: 2px solid blue;
 }

td {
  border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;

  background-color: #0088dd;

  border: 5 px solid #000000;}
  table.one {
    border-spacing: 5px 15px;}
  table.two {
    border-collapse: collapse;}

  }
