
.backdrop {
background-color: lightblue;
}

.title {
background-color: cornflowerblue;
width: 450px;
color: white;
outline: 1px dotted black;
}

.score {
background-color: cornflowerblue;
color: white;
width: 200px;
outline: 1px dotted black;
}

.container {
  display: flex;
  border-top: 20px;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-image: url('background4.jpg');
  outline: 1px dotted black;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
  outline: 1px dotted white;

}

.instructions  {
  margin-left: 250px;
  margin-top: -350px;
  width: 200px;
  height: 296px;

  outline: 1px dotted black;
  background-color: cornflowerblue;
}


.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-image: url('background4.jpg');
  outline: 1px dotted black;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
