<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pokemon Show</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
 <style>
  body {
    color: rgb(0, 0, 0)
    background-color: rgb(168, 206, 238);
    font-size: 24px;
  }
</style>

        <h1>Gotta Catch 'Em All</h1>
      <p>
    <h2>   A wild <%= Pokemon.name.toUpperCase() %> Appeared!   </h2>
<br>
<img src="<%= Pokemon.img+'.jpg' %>" alt="">  

      </p>
        <!-- no equal sign is js logic -->

    </body>
</html>