
.title {
  background : black;
  color: white;
  font-size: 48px;

  font-size: 40;
  padding : 5px;
  border-radius: 5px;
    border-radius: 25px;
  }

.page {
  background-color: white
  text-shadow: 1px 2px lightgrey;
}
body {
  background-color: whitesmoke;
}

.resume {
    background : white;
    font-size: 40;
    padding : 5px;
    border-radius: 5px;
      border-radius: 25px;
  }

li{
   list-style-type: squares;
   font-style: bold;
 }
.skills {
  background : black;
  color: whitesmoke;
  font-size: 40;
  padding : 5px;
  border-radius: 5px;
    border-radius: 25px;
}

#content {
  color: red;
}

h3 {
font-style: oblique;
   background : whitesmoke;
}
h1 {
    color: red;
margin: 50 px;
    padding 50 px;
    width: 100 px;
    background-color: white
  }

p1 {
    color: whitesmoke;
  }

 bttm {
    border-bottom: 4px solid crimson
    border-left: 10px dotted crimson
 }

 td a[href] {
background-color: : black;
   font-size: 45;
   padding : 5px;
   line-height: 50px;
   border-radius: 25px;
   color: lightblue;}



a[href]: hover {
  background-color: yellow;
  color: green;
}


/* mouse over link */


/* selected link */


td {

  border-width: 5px;
  border-radius: 120px;
  text-align : center;
  background: black;
  margin: 10px;
  padding: 25px;
  width: 10px;
  height: 40px;
  font-size : 50 px;
}

  table.one {
    background-color: : black;
    color: black;
    border-spacing: 5px 15px;}
  table.two {
    background-color: : black;
    color: black;
    border-collapse: collapse;
    }
