#myDIV {
  width: 300px;
  height: 5px;
  background: black;
  animation: mymove 5s infinite;
  opacity: 100%;
}

@keyframes mymove {
  from {background-color: black;}
  to {background-color: white;}

}
