.body {
 background-color:  background-color: #232323;;
 color: green;
 opacity: 100%;
}

.header{
  border: 0;
  padding: 10px;
  font-size: 18px;
  background-color: white;
  color: white;
  border-radius: 25px;
}
input {
  background-color: black;
  color: white;
}

input[type="submit"] {
    border: 0;
    padding: 10px;
    font-size: 18px;
    color: white;
    border-radius: 25px;


    }
h3{
  padding: 20px;
  position: sticky;



}
form {
        border: 3px solid black;
        padding: 10px;
        font-size: 18px;
        background: linear-gradient(bottom,rgba(0,0,0,1), rgba(0,0,0,.4));
        color:black;
        border-radius: 25px;
          opacity: 100%;
          padding: 20px;
          text-align: right;
          background-color: white;

        }
h1 {

      border: 0;
      padding: 10px;
      font-size: 18px;
      background-color: black;
      color: white;
      border-radius: 25px;
      }
}
box {
  border-radius: 25 px;
  border: 20 px black;
  background: black;
}

a {
color: white;
background-color: blue;
border-radius: 25px;
border: 3px black;
padding: 5px;
}
