<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>LOGIN SCREEN</h1>
    
        <form action="/users" method="POST">
            User: <input type="text" name="name" /><br/> 
           
            <input type="submit" name="name" value="Login as User"/>
        </form>


        <form action="/action_page.php" method="get" name="myForm">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="button" onclick="formSubmit()" value="Login">
          </form>
          <a href="/messages/boards">Login</a> <br>
          
          <a href="/messages">To Index</a> <br>
          
        </nav>
    </body>
</html>