*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-image: url("x.gif");
  /* background-repeat: repeat-y; */


}
#character{
    width: 50px;
    height: 50px;
    /* background-color: red; */
    position: relative;
    top: -00px;
    z-index: 10;
    display: inline;
}
.animate{   
animation: jump 500ms;
    
}

img{
    height: 50px;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 50px;
    height: 65px;
    /* background-color: blue; */
    position: relative;
 
    left: 480px;
    animation: block 1s infinite linear;
    display: inline;
}
@keyframes block{
    0%{left:480px;
        top: 70px;}
    100%{left:-40px;
        top: 70px;}
}

.hero-bkg-animated {
    background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
  }
  
  .hero-bkg-animated h1 {
    font-family: sans-serif;
  }
  
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }